{% extends "base.html" %}

{% block content %}
    <h2 class="works-header">Список работ</h2>
    <div class="works-container">
        <div class="btn_container">
            <a href="/departments" class="btn btn-secondary">К списку департаментов</a>
            {% if current_user.is_authenticated %}
                <a class="btn btn-secondary" href="/job">Добавить работу</a>
            {% endif %}
        </div>
        {% for work in works_list %}
            <div class="work-item">
                <h3>Работа # {{ work.id }}</h3>
                <table class="table">
                    <thead>
                        <tr class="table-active">
                            <th scope="col" width="25%">Название</th>
                            <th scope="col" width="20%">Руководитель</th>
                            <th scope="col" width="15%">Продолжительность (в часах)</th>
                            <th scope="col" width="15%">Список участников</th>
                            <th scope="col" width="15%">Категории</th>
                            <th scope="col" width="10%">Завершённость</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td bgcolor="#EEEEFF">{{ work.job }}</td>
                            <td bgcolor="#EEEEFF">{{ work.user.name }} {{ work.user.surname }}</td>
                            <td bgcolor="#EEEEFF">{{ work.work_size }}</td>
                            <td bgcolor="#EEEEFF">{{ work.collaborators }}</td>
                            <td bgcolor="#EEEEFF">
                                {% for category in work.categories %}
                                    <span>
                                        {{ category.name }}{% if not loop.last %}, {% endif %}
                                    </span>
                                {% endfor %}
                            </td>
                            {% if not work.is_finished %}
                                <td bgcolor="#FFEEFF">Незакончена</td>
                            {% else %}
                                <td bgcolor="#EEFFFF">Закончена</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
                {% if current_user.is_authenticated and
                (current_user.id == 1 or current_user == work.user) %}
                <div>
                    <a href="/job/{{ work.id }}" class="btn btn-warning">Изменить</a>
                    <a href="/delete_job/{{ work.id }}" class="btn btn-danger">Удалить</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}